alias lla="ll -a"
alias work="subl .; github .;"
alias devlog="tail -f log/development.log"
alias finder="open -a Finder"
alias hg="history | grep"
alias ph="cat ~/.pry_history"
alias phg="cat ~/.pry_history | grep"
alias gs="gst"
