[user]
        name = Bruce Li
        email = ascendbruce@gmail.com
[core]
        excludesfile = /Users/bruce/.gitignore_global
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[apply]
    whitespace = nowarn
